{% extends 'index_model.html' %}
{% block custom_title %}实验台选择{% endblock %}
{% block custom_left %}
    <div id="left-side" class="col-sm-1 col-lg-1" style="display: block; margin-top: 68px; margin-left: 10px;">
        <ul class="nav nav-pills nav-stacked">

            <li class="h4"><a href="{% url 'Index_common' %}">所 有 实 验</a></li>

            <li class="h4 active"><a href="{% url 'student_index' %}">我 的 实 验</a></li>

            <li class="h4"><a href="{% url 'lab_index' %}">实 验 教 室</a></li>
            <li class="h4 hidden">{{ lesson_id }}</li>
        </ul>
    </div>
{% endblock %}

{% block custom_right %}
     <table class="col-lg-8 table table-hover">
                        <tbody>
                                <tr>
                                    {% for desk in lab_desk_1 %}
                                        <td  class="h3"><a href="{% url 'operation:lesson_subscribe' lesson_id desk.id %}">{{ desk.number }}</a></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for desk in lab_desk_2 %}
                                        <td  class="h3"><a href="{% url 'operation:lesson_subscribe' lesson_id desk.id %}">{{ desk.number }}</a></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for desk in lab_desk_3 %}
                                        <td  class="h3"><a href="{% url 'operation:lesson_subscribe' lesson_id desk.id %}">{{ desk.number }}</a></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for desk in lab_desk_4 %}
                                        <td  class="h3"><a href="{% url 'operation:lesson_subscribe' lesson_id desk.id %}">{{ desk.number }}</a></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for desk in lab_desk_5 %}
                                        <td  class="h3"><a href="{% url 'operation:lesson_subscribe' lesson_id desk.id %}">{{ desk.number }}</a></td>
                                    {% endfor %}
                                </tr>

                        </tbody>
                    </table>


{% endblock %}

{% block custom_js %}

{% endblock %}















































