<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1, maxium-scale=1,minimum-
      scale=1,user-scalable=no">

{#    <script#}
{#			  src="https://code.jquery.com/jquery-1.11.3.js"#}
{#			  integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0="#}
{#			  crossorigin="anonymous"></script>#}


</head>
<body>
    <h1 class="text-center">南理工大学实验管理系统2.0</h1>
    <div class="container col-md-offset-4 col-md-4 text-center">


    <form method="post" action="{% url 'user_login' %}" autocomplete="off" name="logform">
        <div class="form-group text-center">
            <input type="text" class="form-control form-group-lg" name="username" placeholder="用户名">
        </div>
        <div class="form-group text-center">
            <input type="password" class="form-control form-group-lg" name="password" placeholder="密码">
        </div>
        <div class="form-group text-center">
            <input class="btn btn-info btn-lg" type="submit" value="立即登录 > " />
        </div>

    </form>
</div>
<script>
    'use strict'
    function log_in(username, password) {
        var user_name = $('[name=username]');
        var pass_word = $('[name=password]');
        user_name.val(username);
        pass_word.val(password);

        var form = $('[name=logform]');
        form.submit();

    };


    {#$(document).on('ready',function () {#}
    {#    alert("jQuery:"+$.fn.jquery);#}
        //alert("一个弹出框");


</script>
<script src="/static/js/jquery-1.11.3.js"></script>
</body>
</html>