<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link rel="stylesheet" href="/static/css2/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1, maxium-scale=1,minimum-
      scale=1,user-scalable=no">
    <script src="/static/js/jquery-1.11.3.js"></script>
{#    <script#}
{#			  src="https://code.jquery.com/jquery-1.11.3.js"#}
{#			  integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0="#}
{#			  crossorigin="anonymous"></script>#}


</head>
<body>
    <h1>南理工大学实验管理系统2.0</h1>
    <div class="container">
        {% if msg %}
            {{ msg }}
        {% endif %}
    </div>
    <form method="post" action="{% url 'user_login' %}" autocomplete="off" name="logform">
        <div class="form-group">
            <label>用 户 名</label>
            <input type="text" class="form-control form-group-lg" name="username" placeholder="学号">
        </div>
        <div class="form-group">
            <label>密     码</label>
            <input type="password" class="form-control form-group-lg" name="password" placeholder="密码">
        </div>
        <div class="form-group">
            <input class="btn btn-info btn-lg" type="submit" value="立即登录 > " />
        </div>

    </form>

<script>
    'use strict'
    function log_in(username, password) {
        var user_name = $('[name=username]');
        var pass_word = $('[name=password]');
        user_name.val(username);
        pass_word.val(password);

        var form = $('[name=logform]');
        form.submit();

    };


    {#$(document).on('ready',function () {#}
    {#    alert("jQuery:"+$.fn.jquery);#}
        //alert("一个弹出框");


</script>
</body>
</html>