<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maxium-scale=1,minimum-
      scale=1,user-scalable=no">
     <link rel="stylesheet"
     href="/static/css2/bootstrap.min.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
</head>
<body>
<h2>欢迎，{{ request.user.username }}</h2>
{% include "base2.html" %}
<div>
{#    <h2>我的班级</h2>#}
{#    {% for class in banji %}#}
{#        <h3>{{ class.name }}</h3>#}
{#    {% endfor %}#}
{#    <h2><a href="/report/">实验报告</a> </h2>#}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="h2 active">实验名称</th>
            <th class="h2 danger">实验地点</th>
            <th class="h2 success">开始时间</th>
            <th class="h2 info">结束时间</th>
            <th class="h2 warning">发布时间</th>
        </tr>
    </thead>

    <tbody>
    {% for lesson in lessons %}
        <tr>
            <td id="lesson_title" class="h3"><a href="{% url 'operation:lesson_info' lesson.id %}">{{ lesson.lesson.title }}</a></td>
            <td id="lesson_lab" class="h3">{{ lesson.lab.name }}</td>
            <td id="lesson_start" class="h3">{{ lesson.start_time }}</td>
            <td id="lesson_stop" class="h3">{{ lesson.stop_time }}</td>
            <td id="lesson_add" class="h3">{{ lesson.add_time }}</td>
            <td class="h3"><a href="{% url 'operation:lesson_delete' lesson.id %}">删除</a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>
<h2><a href="{% url 'course:lesson_add' %}">添加新实验课</a> </h2>
<h2><a href="{% url 'operation:lesson_public' %}">发布新实验</a> </h2>
    {% for lesson in lessons %}
        <h3>{{ lesson.lesson.title }}</h3>
        <h4>开始时间：{{ lesson.start_time }}</h4>
        <h4>结束时间：{{ lesson.stop_time }}</h4>
        <h4>实验地点：{{ lesson.lab.name }}</h4>
        <h4>发布时间：{{ lesson.add_time }}</h4>
    {% endfor %}
</div>
</body>
</html>


















































































