<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程编辑</title>
</head>
<body>
    <form method="post" action="/course_create/" autocomplete="off">
        <div>
            <label>课程名称</label>
            <input type="text" name="name" placeholder="名称">
        </div>
        <div>
            <label>课程描述</label>
            <input type="text" name="desc" placeholder="描述">
        </div>
        <div>
            <label>课程说明</label>
            <input type="text" name="detail" placeholder="说明">
        </div>
         <input type="submit" value="提交 > " />
    </form>
</body>
</html>