<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/static/css2/bootstrap.min.css">
</head>
<body>
<h1>南理工大学实验管理系统2.0</h1>
    <div class="container">
        {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    <form method="post" action="/register/" autocomplete="off">
        <div>
            <label>用 户 名</label>
            <input type="text" class="form-control" name="username" placeholder="">
        </div>
        <div>
            <label>密     码</label>
            <input type="password" class="form-control" name="password" placeholder="密码">
        </div>
         <input type="submit" value="立即注册 > " />
    </form>
</body>