<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maxium-scale=1,minimum-
      scale=1,user-scalable=no">
     <link rel="stylesheet"
     href="/static/css2/bootstrap.min.css">
</head>
<body>
{% include "base2.html" %}
<div class="container">
        {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
<div class="col-lg-4 col-lg-push-3">
    <h2>我的班级</h2>
    {% for class in banji %}
        <h3>{{ class.name }}</h3>
    {% endfor %}
    <h2><a href="/report/">实验报告</a> </h2>
    <h2><a href="{% url 'course:course_list' %}">课目列表</a> </h2>
    <h2>项目进程</h2>
</div>
</body>
</html>