{% extends 'index_model.html' %}
{% load staticfiles %}
{% block custom_title %}预约实验详情{% endblock %}
{% block custom_style %}
    <style>
    #resource_pdf{
        width: 800px;
        height: 5000px;
        align-content: center;
    }

    #show_zone{
        width: 800px;
        height: 5000px;
        align-content: center;
    }
</style>
{% endblock %}


{% block custom_left %}
    <div id="left-side" class="col-sm-1 col-lg-1" style="display: block; margin-top: 68px; margin-left: 10px;">
        <ul class="nav nav-pills nav-stacked">

            <li class="h4"><a href="{% url 'Index_common' %}">所 有 实 验</a></li>

            <li class="h4 active"><a href="{% url 'student_index' %}">我 的 实 验</a></li>

            <li class="h4"><a href="{% url 'lab_index' %}">实 验 教 室</a></li>

        </ul>
    </div>
{% endblock %}



{% block custom_right %}
    <div id="content_block" class="col-sm-9 col-lg-10  " style="margin-left: 80px;margin-top: 65px">
        <h2 class="page-header text-center   ">{{ lesson_public.lesson.title }}</h2>
        <div><h4>{{ lesson_public.lab.name }} 开始时间：{{ lesson_public.start_time }} </h4></div>
{% for reports in lesson_reports %}
    {% for report in reports %}
        <h3 title="report_address" class="hidden">{{ MEDIA_URL }}{{ report.download }}</h3>
    {% endfor %}

{% endfor %}

{% for resource in lesson_resource %}
    <h3 title="resource_address" class="hidden">{{ MEDIA_URL }}{{ resource.download }}</h3>
{% endfor %}
         <div class="row">
            <div id="content_block_left" class="col-lg-4">
                <button class="btn-info" id="resource_show">显示实验资料</button>

                <div id="resource_pdf">

                </div>



            </div>

             <div id="content_block_right" class="col-sm-9 col-lg-6 col-lg-push-1  " style="margin-left: 130px;">
                <button class="btn-info" title="report_show">显示实验报告</button>
                 <div id="show_zone">


                </div>


            </div>
         </div>


    </div>


{% endblock %}

{% block custom_js %}
    <script>
        //实验资料显示操作
        $("#resource_show").click(function () {  //实验资料与实验报告的PDF显示操作
            //PDFObject.embeds("{{ MEDIA_URL }}/resource/2018/11/电工实验一.pdf", "#pdf");
             //new PDFObject({url:"/media/lesson/resource/2018/11/电工实验一.pdf"}).embed("#pdf")
            //console.log($("#pdf_test").text());
            var resource_address = $(this).parents().find("[title='resource_address']").text();
            console.log(resource_address);//测试用
            show_pdf("#resource_pdf", resource_address);
        });


        //实验报告显示操作
        $("[title='report_show']").click(function () {
            var report_address = $(this).parents().find("[title='report_address']").text();
            show_pdf("#show_zone", report_address);
        });


        //实验资料与实验报告的PDF显示函数
        function show_pdf(target_div_id, pdf_url) {
            //new PDFObject({
             //   url:pdf_url,
             //   pdfOpenParams:{
             //       view:'Fit',
             //       scrollbars:'0',
             //       toolbar:'0',
             //       statusbar:'0',
             //       navpanes:'0'
              //  }
            //}).embed(target_div_id)

            PDFObject.embed(pdf_url, target_div_id);

        }







        //报告批改结果提交操作
        $("[title='report_submit']").click(function () {
            //var report_id = $(this).parent().find("[name='report_id']").val();
            //console.log(report_id);//测试用
            var grade = $(this).parents().find("[title='grade']").val();
            //alert(grade);//测试用
            //alert($(this).parent().find("[title='id']").val());//测试用
            if(grade === ''){
                alert('请输入分数！');
            }
            else {
                console.log($(this).text());//测试用
                $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "operation:report_result_save" %}",
                data: $(this).parent().serialize(),

                success: function (data) {
                    if(data.status === 'success'){
                         window.location.reload();
                    }
                    else {
                        alert('操作失败！');
                    }
                }
            });
            //console.log($("form").serialize());
       }
    });















    </script>
    <script src="{% static "js/pdfobject.js" %}" type="text/javascript"></script>
{% endblock %}











































































